body{
    overflow-x:hidden;
    scroll-behavior: smooth;
    background-color: rgb(211, 207, 207);

}
html {
    scroll-behavior: smooth;
  }






.quote{
    height: 96.3vh;
    width: 100vw;
    background-image: url('../Res/pablo-picasso_0.jpg') ;
    -webkit-background-size:cover;
        filter: blur(1.5px);
    filter: brightness(30%);
    margin-top: 25px;
    background-attachment: fixed;
}

.home{
    margin-bottom: 50px;
}

.quote-position{
    position: absolute;
    top: 50vh;
    left: 15vw;
    font-family: cursive;
    font-size: 3vw;
    color: goldenrod;
}



.quote-position2{
    position: absolute;
    top: 62vh;
    left: 15vw;
    font-family: cursive;
    font-size: 2vw;
    color: rgb(255, 255, 255);
}

.quote-position:hover+ .quote-position2{
    color: goldenrod;
}

.quote-position:hover{
    cursor: pointer;
}

.quote-position2:hover{
    cursor: pointer;
}


@media screen and (max-width:575px){
    .quote-position{
        position: absolute;
        top: 35vh;
        left: 12vw;
        font-family: cursive;
        font-size: 4vw;
        color: goldenrod;
    }
}

@media screen and (max-width:575px){
    .quote-position2{
        position: absolute;
        top: 50vh;
        left: 12vw;
        font-family: cursive;
        font-size: 3vw;
        color: rgb(230, 230, 230);
    }
}












.bio{
    height: 95vh;;
    width: 98.8vw;;
}

.background{
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 10px;
    background-color: black;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    padding: 10px;
    height: 550px;
    transition: 1s;
}

.background:hover{
    transform: scale(1.02);
    transition: 0.7s;
}


.content{
    display: block;
    text-align: center;
}

hr{
    width: 150px;
    background-color: goldenrod;
}

.head{
    font-size: 2vw;
    color: goldenrod;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body{
    font-size: 1.1vw;
    color: white;
}

.body1{
    font-size: 1vw;
    color: white;
}

@media screen and (max-width :575px)
{
    .head{
        font-size: 6vw;
        color: goldenrod;
        font-weight: bolder;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .body{
        font-size: 3vw;
        color: white;
    }
    
    .body1{
        font-size: 3vw;
        color: white;
    }

    hr{
        width: 50vw;
        background-color: goldenrod;
    }
}


.grid{
    display: grid;
    grid-template-areas: 
     'Aside Aside Main Main'
     'Aside Aside Main Main'
     'Nav Nav Main Main'
     'Nav Nav footer section'
     'Nav Nav footer section'
     'Nav Nav footer section';
    grid-gap: 7px;
    height: 550px;
    margin-top: 250px;
    width: 98vw;
    margin-bottom: 30px;
    margin-right: 30px;
    
}



.aside{
    grid-area: Aside;
    background-image: url(../Res/guernica.jpg);
    background-size: cover;

}

.main{
    grid-area: Main;
    background-image: url(../Res/la\ femme\ qui\ pleur.jpg);
    background-size: cover;
}

.nav{
    grid-area: Nav;
    background-image: url(../Res/le\ vieux\ guitariste.jpg);
    background-size: cover;
}

.section{
    grid-area: section;
    background-image: url(../Res/girl-before-a-mirror.jpg);
    background-size: cover;

}

.footer{
    grid-area: footer;
    background-image: url(../Res/seated-woman.jpg);
    background-size: cover;

}

.footer:hover {
   filter: brightness(50%)
}
.section:hover {
    filter: brightness(50%)
 }
 .nav:hover {
    filter: brightness(50%)
 }
 .main:hover {
    filter: brightness(50%)
 }
 .aside:hover {
    filter: brightness(50%)
 }

